@import "tailwindcss";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  font-family: Work Sans;
  /* border: red solid 1px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.logo {
  font-size: 32px;
  font-weight: 600;
}
nav {
  display: flex;
  gap: 50px;
  background-color: #fafafa;
  border: 1px solid #D9D9D9;
  padding: 10px 40px;
  border-radius: 16px;
}
nav a {
  text-decoration: none;
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.5s ease;
}

nav a:hover {
  font-weight: 500;
}

.social-link {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
}
.linked,
.github {
  width: 20px;
  height: 30px;
}
