main {
  width: 100%;
  display: flex;
  justify-content: center; /* Center content vertically */
  align-items: center;
  height: 80vh;
  flex-direction: column;
  text-align: center; /* Center text for smaller screens */

  gap: 80px;
}

.tagline {
  font-family: "Work Sans", sans-serif;
  font-size: 64px;
  margin: 0 20px; /* Add margin for smaller screens */
}

/* Responsive Styles */
@media (max-width: 1024px) {
  /* Tablet Styles */
  .tagline {
    font-size: 48px; /* Slightly smaller font size for tablets */
  }
}

@media (max-width: 768px) {
  /* Mobile Styles */
  .tagline {
    font-size: 36px; /* Smaller font size for mobile */
    margin: 0 10px; /* Reduce margin for smaller screens */
  }
}

@media (max-width: 480px) {
  /* Small Mobile Styles */
  .tagline {
    font-size: 28px; /* Even smaller font size for very small screens */
  }
}
